.pugi
{
    
    text-align: center;
    font-size: 18px;
    width: 19% ;
    display: inline-block;
    box-shadow: 0 0 9px 0 #383030;
    margin-top:5%;
    padding-top: 2%;
    
    
}

h1{
    font-family: "Times New Roman", Times, serif;
    font: 1em sans-serif;
}


li a.active {
  color: #666;
  background-color: #4CAF50;
}
ul {
  background-color: lightgray	;
  
  margin-top: 0px;
  margin-bottom: 5px;

  font-style: initial;
  font-size: 150%;
      list-style-type: none;
      overflow: hidden;
      border: 1px solid #e7e7e7;

 }
 
li {
      float: right;
    }
       
li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 70px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: rgb(61, 55, 55);
}


