
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      background-color: #dbdada;
 }
    
    
li {
      float: right;
    }
    
   
li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 14px 70px;
      text-decoration: none;
    }
    
   
    li a:hover:not(.active) {
      background-color: rgb(61, 55, 55);
    }
    
    
    li a.active {
      color: #666;
      background-color: #4CAF50;
    }

    #dills{
        font-family: initial;
        font-style: italic;
        font-size: 300%;
        color:#B8860B;
        text-align: center;
        padding: 60px 100px;
      }
   
   
      span b{
   
        font-family: initial;
        font-style: normal;
        font-size: 180%;
        text-align: center;
        padding: 0px 140px;
     }
      #search{
   
        font-size: 180%;
        font-family: initial;
        font-style: normal;
        background-color: #4CAF50; justify-items: left;
        border: 1px 50px solid #dfdede;border-style: outset;
        padding: 0.2px 120px; padding-right: 45px; padding-left: 45px;
        font-family: Arial, Helvetica, sans-serif;
        color: ivory;
        margin: 0px;
       }
  
  
       #places{
           font-size: 160%; 
         text-align: center;
         
         }
  