
ul {
  background-color: lightgray	;
  
  margin-top: 0px;
  margin-bottom: 5px;

  font-style: initial;
  font-size: 150%;
      list-style-type: none;
      overflow: hidden;
      border: 1px solid #e7e7e7;

 }
 
li {
      float: right;
    }
    
   
li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 14px 70px;
      text-decoration: none;
    }
    
   
    li a:hover:not(.active) {
      background-color: rgb(61, 55, 55);
    }
    
    
    li a.active {
      color: #666;
      background-color: #4CAF50;
    }


   #dills{
     font-family: 'Journal CLM', serif;
     font-style: italic;
     font-size: 400%;
     color: black;
     text-align: center;
     margin-top: 30px;

   }
   #dills2{
    font-family: 'Journal CLM', serif;
    font-style: italic;
    font-size: 150%;
    color: grey;

    text-align: center;
    padding: 60px 100px;
   padding-bottom: 40px;
   padding-top: 20px;




   }
   .line{
    margin-right: 85px;

     background-color: white;
    padding-bottom: 5px;
    padding-top: px;
    border-style: ridge;
    font-family: initial;
    font-size: 140%;
    text-align: center;
    margin-left: 120px;
    padding-left: 150px;
  color: grey;
}



.c{
background-image:url('img.html/beach22.png');


padding-top: 70px;
width: 50px;
height: 50px;
margin-left: -20;
margin-right: 5px;
margin-left: 5px;
padding-bottom: 410px;





}


   
    #search{
      margin-right: 1400px;

      font-size: 180%;
      font-family: initial;
      font-style: normal;
      background-color: #4CAF50; justify-items: left;
      border: 1px 50px solid #e7e7e7;border-style: outset;
      padding: 0.2px 120px; padding-right: 45px; padding-left: 45px;
   
      color: ivory;
      
     }

     .pugi
     {
      margin-left: 67px;
         text-align: center;
         font-size: 25px;
         widows: 10px;
         display: inline-block;
         padding-right: 10px;
         box-shadow: 0 0 12px 0 #e2e2e2;
         margin-top:20px ;
         padding-top: 10px;    }
     .pugi1
     {
      margin-left: 0px;
         text-align: center;
         font-size: 25px;
         widows: 10px;
         display: inline-block;
         padding-right: 10px;
         box-shadow: 0 0 12px 0 #e2e2e2;
         margin-top:20px ;
         padding-top: 10px; 
         
     }


