.color
{
  color: #ccac00;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 246%;
  margin: 20px 75px;
}
 


body {
    background-image:url('img.html/beache1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  input[type=text] {
    width: 15%;
    padding: 12px 15px;
    margin: 5px 80px;
    box-sizing: border-box;
  }


  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    text-align: center;
    width: 15%;
    border: none;
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    margin: 10px 80px;
    cursor: pointer;
  }

  

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    text-align: center;
    width: 15%;
    border: none;
    color: white;
    padding: 12px 15px;
    text-decoration: none;
    margin: 10px 80px;
    cursor: pointer;
  }

   
  .margin{
      margin: 20px 55px;
  }

  .margin1{
    margin: 20px 102px;
}
  .round1 {
    border: 2px solid  rgb(5, 5, 5);
    border-radius: 8px;
  }
  .round2 {
    border: 2px solid rgb(5, 5, 5);
    border-radius: 8px;
  }
  
  