li a.active {
    color: #666;
    background-color: #4CAF50;
  }
  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #dbdada;
    margin-top: 0px;
  }
  .logo
  {
    color: #ccac00;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 246%;
    margin-right: 130px;
    margin-top: 0px;
    
    margin-bottom: 0px;
  }
  
  
  li {
    float: right;
  }
  
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
  
    font-family: sans-serif;
  
  }
  
  
  li a:hover:not(.active) {
    background-color: rgb(61, 55, 55);
  }
  
  

.product{
    background-image:url('img.html/sky2.jpg');
    background-repeat:repeat-x;
    width:97%;
    display: inline-block;
   font-size:40px;
   color: rgb(253, 252, 252);
   text-align: right;
   font-family:Arial, Verdana, Sans-serif;
   height: 150px;
   
   padding-right: 50px;
   border-right-width: 80px;
}
.portlet-box {
    display: inline-block;
    border: 1px solid #e9e9e9;
    box-shadow: 0 0 8px 0 #0d9123;
    height: 30%;
    width: 40%;
    text-align: right;
    margin-right: 200px;
    
}
h1{
    margin-bottom: 2px;
    margin-top: 2px;
}
.pbox{
    text-align: right;
    font-size:30px;
    background-color: #188824;
}
.phtyo-box{
    margin-left:15%;
    padding-left: 200px;
}
.namehotel{

    padding-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.photo{

    display: inline-block;
    padding-left:0%;

}
.flight{
    text-align: right;
    border: 1px solid #f1f5f8;
    width: 80%;
    
    margin-left: 16%;

    box-shadow: 0 0 12px 0 #b5cbdb;
    height: 20%;
}
.pt{
    display: inline-block;
    
    width: 120px;

}
.details{
    text-align: right;
    font-family:Arial, Verdana, Sans-serif;
    font-size:40px;
    
    margin-right:4%;

}

.ph{
    
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: right;
    vertical-align: inherit;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    margin-right: 13px;
    display: inline-block;
}

.israir{
    display: inline-block;
    margin-right: 40px;
    
    
}

.boxhotel{
    background-color: #e2f0e0;
    width: 100%;
    font-size: 25px;
    display: inline-block;
}
 .divbh{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 100px;

 }
 .divpbh{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 100px;
    font-size: 25px; 
    margin-top: 30px;

 }

 .footerp{
    background-image:url('img.html/footer1.jpg');
    background-repeat:repeat-x;
    width:97%;
    height: 200px;
    padding-right: 50px;
    border-right-width: 80px;
  }
  .div-text{
    display: inline-block;
    width: 250px;
  
  }
  .text-footer{
    text-align: right;
    font-family:Arial, Verdana, Sans-serif;
    color: rgb(253, 252, 252);
    font-size:25px;
  }
  
  .ft{
    text-align: right;
    font-family:Arial, Verdana, Sans-serif;
    color: rgb(250, 194, 194);
    font-size:30px;
    margin-bottom: 8px;
  
  }
  .footer-div-p{
    display: inline-block;
    width: 70px;
  }